header {
  border-bottom: 2px solid rgba(179, 179, 179, 0.842);
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 0.575),
    rgba(0, 0, 255, 0.61)
  );
}

.page-title {
  font-size: 2em;
  color: rgb(26, 16, 16);
  text-shadow: 0px 0px 5px rgb(255, 255, 255);
  text-decoration: none;
  transition: text-shadow 0.3s ease;
  &:hover {
    opacity: 0.9;
    text-shadow: 0px 0px 3px rgb(255, 255, 255);
  }
}

.search-input {
  border: 1px solid rgba(133, 127, 127, 0.212);
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.082);
}

.btn-logout {
  color: #fff !important;
  border: 1px solid rgba(255, 255, 255, 0.281);
  transition: opacity 0.3s ease-in background-color 0.4s ease-in;
  &:hover {
    background-color: rgba(50, 69, 238, 0.596);
    border: 1px solid rgba(167, 167, 194, 0.589);
    color: #fff !important;
  }
}

@media screen and (min-width: 992px) {
  .navbar {
    padding: 0 !important;
  }
}

.navbar-toggler {
  position: absolute;
  left: 5%;
  top: 14px;
}

.navbar-collapse {
  margin-top: 15px;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}

img {
  background: transparent;
  width: 120px;
}
