input,
mat-label {
  color: #fff;
  &::placeholder {
    color: rgba(224, 224, 224, 0.616);
  }
}

.card-hero {
  width: 190px;
  height: 322px;
  cursor: pointer;
  transition: 0.2s ease all;
  background: rgba(253, 212, 136, 0.171);
  border: 1px solid rgba(41, 41, 41, 0.493);
  box-shadow: 0px 0px 3px 0px rgba(248, 203, 0, 0.582);
  color: rgb(15, 15, 15);
  @media (pointer: fine) {
    &:hover {
      background: linear-gradient(#5200ff30, #005affc4);
      color: rgb(214, 214, 214);
      box-shadow: 0px 0px 2px 0px #fff;
    }
  }
}

.card-ocupation-text {
  overflow: hidden;
  max-width: 200px;
  font-size: 12px;
}

.selected-card {
  background: linear-gradient(rgb(2, 2, 88), rgb(36, 52, 138));
  box-shadow: 0px 0px 6px 3px rgba(110, 110, 238, 0.479);
  color: #fff;
  &:hover {
    background: linear-gradient(rgb(2, 2, 88), rgb(36, 52, 138));
  }
}

.selected-text {
  text-transform: uppercase;
  font-family: "Galactic";
  font-weight: 500;
}

.character-alignment {
  font-weight: 600;
  letter-spacing: 1px;
}

.counter-three {
  animation: smooth 0.5s ease forwards;
  padding: 15px;
  font-size: 35px;
  color: rgb(255, 231, 14);
  backdrop-filter: blur(5px);
  background-color: rgba(185, 185, 185, 0.377);
  text-shadow: 0px 1px 7px rgba(26, 27, 22, 0.89);
  @keyframes smooth {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @media screen and (max-width: 767px) {
    font-size: 18px;
    margin-top: 10px;
    background-color: rgba(185, 185, 185, 0.082);
  }
}

.characters-container {
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  width: 100vw;
  @media screen and (min-width: 576) {
    width: auto;
  }
}
//scrollbar
::-webkit-scrollbar {
  -webkit-appearance: none;
  -webkit-overflow-scrolling: auto; //display scrollbar on mobile
}

::-webkit-scrollbar:vertical {
  width: 16px;
}
::-webkit-scrollbar:horizontal {
  width: 45px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #ac7d27, #ffbb00);
  border: 1px solid #b7ba71;
  border-radius: 5px;
  min-width: 45px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ee8f12c4;
}
::-webkit-scrollbar-track {
  background: #f2f5bf;
  border-radius: 5px;
  box-shadow: inset 0px 0px 0px 0px #f0f0f0;
}
