section {
  height: 80vh;
}

input,
mat-label {
  color: #fff;
  &::placeholder {
    color: rgba(224, 224, 224, 0.616);
  }
}

.card-hero {
  width: 190px;
  height: 322px;
  cursor: pointer;
  transition: 0.2s ease all;
  background: rgba(253, 212, 136, 0.171);
  border: 1px solid rgba(41, 41, 41, 0.493);
  box-shadow: 0px 0px 3px 0px rgba(248, 203, 0, 0.582);

  color: rgb(15, 15, 15);
  &:hover {
    background: linear-gradient(#5200ff30, #005affc4);
    color: rgb(214, 214, 214);
    box-shadow: 0px 0px 2px 0px #fff;
  }
}

.selected-card {
  background: linear-gradient(rgb(2, 2, 88), rgb(36, 52, 138));
  box-shadow: 0px 0px 6px 3px rgba(110, 110, 238, 0.479);
  color: #fff;
  &:hover {
    background: linear-gradient(rgb(2, 2, 88), rgb(36, 52, 138));
  }
}

.selected-text {
  position: absolute;
  text-transform: uppercase;
  bottom: 5px;
  left: 17%;
}

.counter-three {
  animation: smooth 0.5s ease forwards;
  font-family: roboto;
  text-align: center;
  padding: 15px;
  font-size: 35px;
  color: rgb(255, 231, 14);
  backdrop-filter: blur(5px);
  background-color: rgba(185, 185, 185, 0.377);
  text-shadow: 0px 1px 7px rgba(26, 27, 22, 0.89);
  @keyframes smooth {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @media screen and (max-width: 767px) {
    font-size: 18px;
    margin-top: 10px;
    background-color: rgba(185, 185, 185, 0.082);
  }
}

//scrollbar
::-webkit-scrollbar {
  width: 13px;
  height: 13px;
}
::-webkit-scrollbar-thumb {
  background: #d28b07;
  border: 1px solid #b7ba71;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ee8f12c4;
}
::-webkit-scrollbar-track {
  background: #f2f5bf;
  border-radius: 5px;
  box-shadow: inset 0px 0px 0px 0px #f0f0f0;
}
