<header>
  <div
    class="container navbar navbar-expand-lg navbar-dark header__container pt-4 pb-4"
  >
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="col-3 mt-0 d-flex align-items-center justify-content-center">
      <a
        href="#"
        class="page-title d-flex align-items-center justify-content-center justify-content-lg-start"
      >
        <span style="min-width: 139px">Super Hero</span>
      </a>
    </div>

    <div
      class="collapse navbar-collapse col-8 justify-content-end"
      id="navbarSupportedContent"
    >
      <div class="search-input">
        <div class="p-1 shadow-sm mb-1 input-group">
          <input
            type="search"
            placeholder="Search hero..."
            aria-describedby="button-addon1"
            class="form-control border-0 bg-light input-focus search"
            id="search-addon1"
          />
          <button
            id="button-addon1"
            type="submit"
            class="btn btn-link text-primary"
          >
            <i class="fa fa-search searchicon"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
