img {
  position: absolute;
  z-index: -1;
  object-fit: cover;
  max-width: 100vw;
  margin-top: 55px;
}
.container {
  min-height: 100vh;
}

mat-card {
  width: fit-content;
  height: fit-content;
  border: 1px solid rgba(0, 0, 0, 0.103);
  margin-top: 5%;
  padding: 5%;
}

.btn-login {
  margin-top: 1.5em;
}
