<div class="modal-header">
  <span class="modal-title"><b>Eliminar
      personaje</b></span>
  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <div class="row">
    <div class="col">
      <p>¿Desea eliminar el personaje? </p>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-dark" (click)="modal.close('Close click')">Cancelar</button>
  <button type="button" class="btn btn-danger" (click)="deleteCharacter()">Confirmar</button>
</div>
