<section>
  <div class="container">
    <div *ngIf="heroes.length === 0; else displayHeroes">
      <div class="row align-items-center void-message">
        <div class="col-6 offset-3 mt-5 text-center">
          <b>Aun no se eligió ningún heroe. </b>
        </div>
      </div>
    </div>

    <ng-template #displayHeroes class="row align-items-center dashboard">

      <div class="row align-items-center void-message">
        <div class="col-6 offset-3 mt-5 text-center">
          <b>Heroe seleccionado. </b>
        </div>
      </div>

    </ng-template>

    <div class="row">
      <a class="col-4 offset-4 mt-4 btn btn-hero shadow-sm text-primary" routerLink="/search">
        <i class="fas fa-mask"></i>
        <span class="ml-1">Agregar Superheroes a mi equipo</span>
      </a>
    </div>
  </div>
</section>
