<app-header></app-header>

<app-selected *ngIf="this._heroesService.getSelectedCharactersLength() > 0 ;else voidCharacters">
</app-selected>

<ng-template #voidCharacters>
  <section>
    <div class="container">
      <div class="row align-items-center void-message">
        <div class="col-6 offset-3 mt-5 text-center">
          <b>Aun no se eligió ningún personaje... </b>
        </div>
      </div>
    </div>


    <div class="row">
      <a class="col-4 offset-4 mt-4 btn shadow-sm btn-select-char" routerLink="/search">
        <i class="fas fa-mask"></i>
        <span class="ml-1">Agregar superheroes a mi equipo</span>
      </a>
    </div>
  </section>
</ng-template>
