section {
  height: 80vh;
}

.container {
  height: 100%;
  color: rgb(194, 194, 194);
}

.void-message {
  height: 65vh;
}

.btn-select-char {
  color: rgb(20, 20, 20) !important;
  opacity: 0.8;
  border: 1px solid rgba(32, 32, 32, 0.87);
  font-weight: 500;
  transition: opacity 0.3s ease-in background-color 0.4s;
  &:hover {
    opacity: 1;
    color: rgb(255, 255, 255) !important;
    background-color: rgba(73, 23, 121, 0.514);
    border: 1px solid rgba(73, 23, 121, 0.514);
  }
}
